.offer-page {
  width: 100%;
  box-sizing: border-box;
}

.offer-page-wrapper {
  margin-right: 60px;
  margin-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.offer-single-page {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin-top: 80px;
  margin-bottom: 80px;
}

.single-img-page {
  width: auto;
  position: relative;
  z-index: 120;
}

.img-img-page {
  object-fit: cover;
  object-position: center;
  width: 350px;
  height: 500px;
  border-radius: 20px;
}

.single-off {
  display: none;
}

.content-page {
  width: 50%;
}

.cat-page {
  margin: 0;
  color: $hoverColor;
  font-size: 18px;
}

.offer-title-page {
  color: $textColor;
  font-size: 30px;
  margin: 10px 0 0;
}

.offer-short-desc-page {
  color: $textColor;
  width: 80%;
  font-size: 22px;
  margin: 20px 0 50px;
}

.read-more-page {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.read-more-page-btn {
  text-decoration: none;
  font-size: 24px;
  color: $hoverColor;
  border: 3px solid $hoverColor;
  padding: 5px 20px;
  border-radius: 25px;
  transition: all .5s;
}

.read-more-page-btn:hover {
  border-color: unset;
  background-color: $hoverColor;
  color: white;
}

.content-page-left {
  box-sizing: border-box;
  padding-right: 100px;
}

.cat-page {
  text-align: right;
}

.offer-title-page {
  text-align: right;
}

.offer-short-desc-page {
  text-align: right;
  width: 100%;
}

.read-more-page {
  display: flex;
  justify-content: flex-end;
}

.offer-page .offer-page-wrapper .offer-single-page:nth-child(2) .single-img-page:nth-child(1) .img-img-page {
  display: none;

}

.offer-page .offer-page-wrapper .offer-single-page:nth-child(4) .single-img-page:nth-child(1) .img-img-page {
  display: none;
}

.single-img-page-left::before {
  content: '';
  position: absolute;
  background-image: url('/src/assets/images/Dot.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
  height: 150px;
  bottom: -50px;
  left: -50px;
  z-index: -1;
}

@media only screen and (max-width: 1230px) {
  .offer-single-page-first::after {
    width: 150px;
    height: 150px;
    top: -80px;
    right: 0;
    z-index: -1;
  }
}

@media only screen and (max-width: 768px) {

  .offer-page-wrapper {
    margin-left: 30px;
    margin-right: 30px;
  }
  .offer-single-page {
    justify-content: space-between;
  }
  .img-img-page {
    width: 300px;
    height: 400px;
  }

  .content-page {
    text-align: right;
  }
  .offer-title-page {
    font-size: 25px;
  }

  .offer-short-desc-page {
    align-self: flex-end;
    text-align: right;
    width: 100%;
  }

  .read-more-page {
    justify-content: flex-end;
  }

  .cat-page {
    text-align: left;
  }

  .offer-title-page {
    text-align: left;
  }

  .offer-short-desc-page {
    text-align: left;
  }

  .read-more-page {
    justify-content: flex-start;
  }

  .offer-single-page-first::after {
    display: none;
  }
  .single-img-page-right::before {
    display: none;
  }
}

@media only screen and (max-width: 585px) {

  .offer-single-page {
    flex-direction: column;
  }
  .content-page {
    text-align: center;
    width: 80%;
  }
  .cat-page {
    margin-top: 10px;
  }

  .offer-title-page {
    text-align: center;
  }

  .offer-short-desc-page {
    text-align: center;
  }

  .read-more-page {
    justify-content: center;
  }

  .cat-page {
    text-align: center;
  }

  .offer-title-page {
    text-align: center;
  }

  .offer-short-desc-page {
    text-align: center;
  }


  .offer-page .offer-page-wrapper .offer-single-page:nth-child(2) .single-img-page:nth-child(3) .img-img-page {
    display: none;
  }

  .offer-page .offer-page-wrapper .offer-single-page:nth-child(2) .single-img-page:nth-child(1) .img-img-page {
    display: block;
  }

  .offer-page .offer-page-wrapper .offer-single-page:nth-child(4) .single-img-page:nth-child(3) .img-img-page {
    display: none;
  }

  .offer-page .offer-page-wrapper .offer-single-page:nth-child(4) .single-img-page:nth-child(1) .img-img-page {
    display: block;
  }
  .single-img-page-left::before {
    top: -50px;
    left: -50px;
  }
}

@media only screen and (max-width: 375px) {
  .content-page {
    width: 100%;
  }
}