.offer-page {
  width: 100%;
  box-sizing: border-box;

  .offer-wrapper {
    margin-right: 60px;
    margin-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .offer-single {
      box-sizing: border-box;
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: relative;
      margin-top: 80px;
      margin-bottom: 80px;

      .single-img {
        width: auto;
        position: relative;
        z-index: 120;

        .img-img {
          object-fit: cover;
          object-position: center;
          width: 350px;
          height: 500px;
          border-radius: 20px;
        }
      }
      .single-off {
        display: none;
      }

      .content {
        width: 50%;

        .cat {
          margin: 0;
          color: $hoverColor;
          font-size: 18px;
        }

        .offer-title {
          color: $textColor;
          font-size: 30px;
          margin: 10px 0 0;
        }

        .offer-short-desc {
          color: $textColor;
          width: 80%;
          font-size: 22px;
          margin: 20px 0 50px;
        }

        .read-more {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          .read-more-btn {
            text-decoration: none;
            font-size: 24px;
            color: $hoverColor;
            border: 3px solid $hoverColor;
            padding: 5px 20px;
            border-radius: 25px;
            transition: all .5s;
          }
          :hover {
            border-color: unset;
            background-color: $hoverColor;
            color: white;
          }
        }
      }

      .content-left {
        .cat {
          text-align: right;
        }
        .offer-title {
          text-align: right;
        }
        .offer-short-desc {
          text-align: right;
          width: 100%;
        }
        .read-more {
         display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}

.offer-page .offer-wrapper .offer-single:nth-child(2) .single-img:nth-child(1) .img-img {
  display: none;
}
.offer-page .offer-wrapper .offer-single:nth-child(4) .single-img:nth-child(1) .img-img {
  display: none;
}

.offer-single-first::after {
  content: '';
  position: absolute;
  background-image: url('/src/assets/images/imgUse/Dot.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
  height: 150px;
  top: 0;
  right: 0;
  z-index: -1;
}

.single-img-left::before {
  content: '';
  position: absolute;
  background-image: url('/src/assets/images/imgUse/Dot.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
  height: 150px;
  bottom: -50px;
  left: -50px;
  z-index: -1;
}

.single-img-right::before {
  content: '';
  position: absolute;
  background-image: url('/src/assets/images/imgUse/Dot.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
  height: 150px;
  bottom: -50px;
  right: -50px;
  z-index: -1;
}

@media only screen and (max-width: 1230px) {
  .offer-single-first::after {
    width: 150px;
    height: 150px;
    top: -80px;
    right: 0;
    z-index: -1;
  }
}

@media only screen and (max-width: 768px) {
  .offer-page {

    .offer-wrapper {
      margin-left: 30px;
      margin-right: 30px;

      .offer-single {
        justify-content: space-between;

        .single-img {

          .img-img {
            width: 300px;
            height: 400px;
          }
        }

        .content {
        text-align: right;
          .cat {
          }

          .offer-title {
            font-size: 25px;
          }

          .offer-short-desc {
            align-self: flex-end;
            text-align: right;
            width: 100%;
          }

          .read-more {
            justify-content: flex-end;
            .read-more-btn {
            }
            :hover {
            }
          }
        }

        .content-left {
          .cat {
            text-align: left;
          }
          .offer-title {
            text-align: left;
          }
          .offer-short-desc {
            text-align: left;
          }
          .read-more {
            justify-content: flex-start;
          }
        }
      }
    }
  }
  .offer-single-first::after {
    display: none;
  }
  .single-img-right::before {
    display: none;
  }
}

@media only screen and (max-width: 585px) {
  .offer-page {

    .offer-wrapper {

      .offer-single {
        flex-direction: column;
        .single-img {

          .img-img {
          }
        }

        .content {
          text-align: center;
          .cat {
          }

          .offer-title {
          }

          .offer-short-desc {
          }

          .read-more {
            justify-content: center;
            .read-more-btn {
            }
            :hover {
            }
          }
        }

        .content-left {
          .cat {
            text-align: center;
          }
          .offer-title {
            text-align: center;
          }
          .offer-short-desc {
            text-align: center;
          }
          .read-more {
          }
        }
      }
    }
  }
  .offer-page .offer-wrapper .offer-single:nth-child(4) .single-img:nth-child(3) .img-img {
    display: none;
  }
  .offer-page .offer-wrapper .offer-single:nth-child(2) .single-img:nth-child(3) .img-img {
    display: none;
  }
  .single-img-left::before {
    top: -50px;
    left: -50px;
  }
}