.blog-all {
  background-color: #f9f9f9;
  padding: 50px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.blog-all-posts {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.blog-all-single-post {
  width: 30%;
  height: 550px;
  margin-bottom: 30px;
  box-shadow: 0 0 5px #ddd;
  transition: all 0.3s ease-in;
  display: flex;
  //justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.blog-all-single-post-a {
  display: block;
}

.blog-all-single-post-img {
  width: 100%;
  height: auto;
  //align-self: flex-start;
}


.blog-all-post-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.blog-all-title {
  margin: 20px 0 20px;
  font-size: 24px;
}

.blog-all-title-link {
  //text-decoration: none;
  color: black;
  margin: 0;
}

.blog-all-meta {
  font-size: 14px;
  margin: 0 0 15px;
  color: #999;
  align-self: flex-start;
}

.blog-all-excerpt {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
  margin: 0;
}


.blog-all-post:hover {
  box-shadow: 0 0 10px #ddd;
}

@media only screen and (max-width: 768px) {
  .blog-all-single-post {
    width: 80%;
  }
}

@media only screen and (max-width: 425px) {
  .blog-all-title {
    font-size: 22px;
  }
}

@media only screen and (max-width: 375px) {
    .blog-all-excerpt {
      font-size: 14px;
      padding-right: 10px;
    }
}