.header {
  box-sizing: border-box;
  width: 100%;
  height: 17vh;
  font-family: $main-font;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 48px;
  padding-right: 48px;

  .logo__link {
    .header-logo {
      width: 150px;
    }
  }

  .nav-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;

    .ul-header {
      position: relative;
      display: flex;
      justify-content: space-between;
      padding: 0;
      width: 100%;
      list-style: none;


      .li-header {
        font-size: 21px;
        font-weight: 600;

        .nav__link {
          position: relative;
          text-decoration: none;
          color: $textColor;
          transition: all 0.3s;
          text-transform: uppercase;
        }

        ::after {
          content: '';
          position: absolute;
          top: 25px;
          left: 0;
          width: 0;
          background-color: $hoverColor;
          height: 2px;
          border-radius: 10px;
          transition: .3s ease-in-out;
        }

        :hover::after {
          width: 100%;
        }

        :hover {
          color: $hoverColor;
        }
      }
    }
  }

  // Hamburger menu styling

  .burger {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;

    .line {
      width: 40px;
      height: 5px;
      background-color: $hoverColor;
      margin: 7px;
      border-radius: 20px;
      transition: .3s ease-in-out;
    }
  }
}

//}

// Hamburger menu

@media only screen and (max-width: 1000px) {
  .header {
    .logo__link {
      .header-logo {
        width: 300px;
      }
    }

    .burger {
      display: block;
      margin-top: 25px;
      transition: .3 ease-in-out;
    }

    .active {
      .line:first-child {
        transform: translateY(-300px);
        //display: none;
      }

      .line:nth-child(2) {
        transform: rotate(-405deg) translateY(0px);
      }

      .line:nth-child(3) {
        transform: rotate(-315deg) translateX(-8px) translateY(-8px);
      }
    }

    .nav-header {
      width: 40%;

      .ul-header {
        position: absolute;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        background-color: rgba($hoverColor, 1);
        border-radius: 10px;
        //height: 200px;
        left: 130px;
        top: 2.5vh;
        height: 80vh;
        letter-spacing: 3px;
        transform: translate(150%);
        transition: .3s ease-in-out;
        border: 2px solid black;
        width: 350px;
        margin-right: 2px;
        margin-left: 0px;
        z-index: 999;

        .li-header {
            width: 350px;
          text-align: center;

          .nav__link {
            font-size: 25px;
          }

          .nav__link::after {
            background-color: white;
            top: 27px;
          }

          .nav__link:hover {
            color: white;
          }
        }
      }

      .active {
        transform: translate(0%);
      }
    }
  }
}

@media only screen and (max-width: 910px) {
    .header {
      .nav-header {
        .ul-header {
          left: 100px;
        }
      }
    }
}

@media only screen and (max-width: 870px) {
  .header {
    .nav-header {
      .ul-header {
        left: 80px;
      }
    }
  }
}

@media only screen and (max-width: 840px) {
  .header {
    .nav-header {
      .ul-header {
        left: 60px;
      }
    }
  }
}

@media only screen and (max-width: 810px) {
  .header {
    .nav-header {
      .ul-header {
        left: 40px;
      }
    }
  }
}

@media only screen and (max-width: 780px) {
  .header {
    .nav-header {
      .ul-header {
        left: 20px;
      }
    }
  }
}

@media only screen and (max-width: 760px) {
  .header {

    .nav-header {
      //width: 1000px;
      .ul-header {
        border-radius: 20px;
        width: 96vw;
        height: 84vh;
        top: 40px;
        left: -350px;
        right: 0;
        margin-left: 10px;
        .li-header {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .header {
    .logo__link {
      .header-logo {
        width: 200px;
      }
    }

    .nav-header {
      .ul-header {
        background-color: rgba($hoverColor, 1);
        width: 95vw;
        height: 84vh;
        top: 40px;
        left: -247px;
        right: 0;
        margin-left: 5px;

        .li-header {
        }
      }
    }

    .burger {
      margin-top: 5px;
      padding: 0;

      .line {
        width: 30px;
        height: 3px;
      }
    }

    .active {
      .line:nth-child(2) {
        transform: rotate(-405deg) translateY(0px);
      }

      .line:nth-child(3) {
        transform: rotate(-315deg) translateX(-7px) translateY(-7px);
      }
    }
  }
}

@media only screen and (max-width: 350px) {
  .header {
    .logo__link {
      .header-logo {
        width: 170px;
      }
    }

    .nav-header {
      .ul-header {
        width: 95vw;
        height: 84vh;
        top: 40px;
        left: -216px;
        right: 0;
        margin-left: 5px;

        .li-header {
        }
      }
    }

    .burger {
      margin-top: 5px;
      padding: 0;

      .line {
        width: 25px;
        height: 3px;
      }
    }
  }
}

@media only screen and (max-width: 280px) {
  .header {
    .nav-header {
      .ul-header {
        width: 94vw;
      }
    }
  }
}

@media only screen and (max-height: 820px) and (max-width: 760px) {
  .header {
    .nav-header {
      .ul-header {
          height: 83vh;
      }
    }
  }
}

//@media only screen and (max-height: 821px) {
//  .header {
//    .nav-header {
//      .ul-header {
//        //margin-top: 10px;
//        .li-header {
//        }
//      }
//    }
//  }
//}

@media only screen and (max-height: 730px) and (max-width: 760px) {
  .header {
    .nav-header {
      .ul-header {
        height: 82vh;
      }
    }
  }
}

@media only screen and (max-height: 660px) and (max-width: 760px) {
  .header {
    .nav-header {
      .ul-header {
        height: 80vh;
      }
    }
  }
}